<h1 style="margin-left: 80px;">Olá seja bem vindo!</h1>
<div >
    <div class="row" style="display: flex; flex-wrap: wrap; margin-left: 120px;">
        <app-custom-card header="Exemplo de Card" width="450px" height="200px" margin="25px">
            Conteúdo do card aqui...
        </app-custom-card>
        <app-custom-card header="Exemplo de Card" width="450px" height="200px" margin="25px">
            Conteúdo do card aqui...
        </app-custom-card>
        <app-custom-card header="Exemplo de Card" width="450px" height="200px" margin="25px">
            Conteúdo do card aqui...
        </app-custom-card>
    </div>
    <div class="row" style=" display: flex; flex-wrap: wrap;margin-left: 120px;">
        <app-custom-card header="Exemplo de Card" width="500px" height="200px" margin="10px">
            Conteúdo do card aqui...
        </app-custom-card>
        <app-custom-card header="Exemplo de Card" width="500px" height="200px" margin="10px">
            Conteúdo do card aqui...
        </app-custom-card>
    </div>
</div>