<div class="forgot-password-container">
    <div class="forgot-password-wrapper">
      <img src="../../../assets/forgot.png" alt="esqueci-senha" class="centered-image">
      <p-card class="forgot-password-card">
        <div class="forgot-password-content">
          <h2>Esqueci minha senha</h2>
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <i class="pi pi-envelope"></i>
            </span>
            <input type="email" pInputText placeholder="Digite seu email" [(ngModel)]="email" required>
          </div>
          <button pButton type="button" label="Enviar Email" (click)="sendEmail()" class="send-button"></button>
          <div *ngIf="emailSent" class="message">
            <i class="pi pi-check-circle"></i>
            <p>Email enviado, verifique sua caixa de mensagens</p>
          </div>
        </div>
      </p-card>
    </div>
  </div>
  