.sidebar-menu li,
.sidebar-icons li {
  list-style-type: none; /* Remove os pontos dos itens da lista */
  cursor: pointer; /* Adiciona o cursor pointer para indicar que os itens são clicáveis */
    display:block;
}

.sidebar-menu li i,
.sidebar-icons li i {
  margin-right: 10px; /* Adiciona um espaço entre o ícone e o texto */
  padding-bottom: 25px;
  display: inline-block;
  
}

.sidebar-icons{
    width: 50px;
    margin: 0;
    padding: 0;
    margin-top: 15px;
    position: fixed;

}

.sidebar-icons li{
    text-align: left;
    margin-left: 10px;
  
}

.sidebar-menu{
    margin: 0;
    padding: 0;
   
}

.menu-icon, .sidebar-icon{
  font-size: 28px; 
}

.menu-icon {
  color: red; 
}

.menu-icon {
  cursor: pointer; 
}

