<p-menubar [style]="{'margin-bottom':'10px', 'background':'#0f3387'}" *ngIf="mostrarMenu">
    <ng-template pTemplate="start">
        <p-button pTooltip="Menu" [style]="{'background':'#cccc', 'border':'0'}" (click)="toggleSidebar()">
            <i class="pi pi-bars"></i>
        </p-button>
    </ng-template>
    <ng-template pTemplate="end">
        <i (click)="logout()" class="pi pi-fw pi-power-off menu-icon"></i>
    </ng-template>
</p-menubar>

<div *ngIf="mostrarMenu">
    <p-sidebar [(visible)]="sidebarVisible" [style]="{'width': '280px', 'border': '0.5px solid black'}">
        <ul class="sidebar-menu">
            <p-panelMenu [model]="items" [style]="{'color':'#074357'}"></p-panelMenu>
        </ul>
    </p-sidebar>
    <ul class="sidebar-icons" *ngIf="!sidebarVisible">
        <li *ngFor="let item of items" (click)="toggleSidebar()">
            <i [ngClass]="item.icon" [pTooltip]="item.title" class="sidebar-icon"></i>
        </li>
    </ul>
</div>