.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
  }

  .card-container{
    margin: 10px;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
  }
  
  .info-item {
    width: 45%;
  }

  .p-grid{
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
  }
  

.custom-page-container {
  max-height: 100vh;
  overflow: auto;
  padding: 45px;
}