<div class="custom-page-container">
  <div class="card-container">
    <!-- Card 1 -->
    <p-card>
     <ng-template pTemplate="content">
       <div class="p-grid">
         <div class="col-3 p-mb-3">
           <p>Valor Transição</p>
           <p>R$ 100,00</p>
         </div>
         <div class="col-3 p-mb-3">
           <p>Valor Líquido: R$ 95,00</p>
           <p>R$ 100,00</p>
         </div>
         <div class="col-3 p-mb-3">
           <p>Forma de Pagamento:</p>
           <p><i class="pi pi-credit-card"></i> Crédito</p>
         </div>
         <div class="col-3">
           <p>Status Aprovado</p>
           <p> Aprovado</p>
         </div>
       </div>
     </ng-template>
   </p-card>
 
 </div>
</div>

