.custom-form{
    height: 100vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 10%;
    overflow: hidden;
}

.icon{
    width: 50%;
    animation: go-back 1s infinite alternate;
}

.links {
  margin-top: 20px; /* Espaçamento superior entre os links */
}

.forgot-password-link, .register-link {
  margin-right: 20px; /* Espaçamento entre os links */
  text-decoration: none; /* Remove a decoração de texto padrão */
  color: #007bff; /* Cor do texto dos links */
}

.forgot-password-link:hover, .register-link:hover {
  text-decoration: underline; /* Sublinhado ao passar o mouse sobre os links */
}


@keyframes go-back {
    from {
      transform: translateX(100px);
    }
    to {
      transform: translateX(0);
    }
  }

  .custom-input{
    color: black;
    padding-right: 2.5rem;
  }

  .login-container {
    height: 100%;
}